.Image{
  background-image:linear-gradient(rgba(26,26,26,0.7),rgba(26,26,26,0.7)), url("../Image/221117.jpg");

  min-height: 500px;
  

  /* Center and scale of the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
  padding:80px;
  width:90%;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}
.hero-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.nav {
  overflow: hidden;
  background-color: #333;
}
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}
.container {
  position: absolute;
  margin: 10px;
  width: auto;
  

}
.text-block{
  padding: 100px;
  position: absolute;
  widows: 8000px;
  height: 8000px;
  margin-left: 0;
  margin-right: 0;
  position: Center;

}
.first{
  padding: 80px;
  width: 90%;
  background-color: #f1f1f1;
  height: 600px; 
  text-indent: 3px;
  letter-spacing: 2px;
  
  

}
img.sticky {
  float: right;
  top: 0;
  width: 200px;
  
}
.second{
  padding: 80px;
  width: 90%;
  background-color: #f1f1f1;
  height: 600px; 
  text-indent: 7px;
  letter-spacing: 2px;
}
.third{
  padding: 80px;
  width: 90%;
  background-color: #f1f1f1;
  height: 600px; 
  text-indent: 7px;
  letter-spacing: 2px; 
}
.fourth{
  padding: 80px;
  width: 90%;
  background-color: #f1f1f1;
  height: 600px; 
  text-indent: 7px;
  letter-spacing: 2px;
}
.fa{
  padding:20px;
  font-size:30px;
  width:10px;
  text-align:center;
  text-decoration:none;
  margin:4px 2px;
  justify-content:right;
  display:inline-block;
}
.fa:hover {
  opacity: 0.7;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.fa-facebook {
background: #3B5998;
color: white;
}